@page "/watchLists/{WatchListId:int}"

<h3>WatchList @WatchListId</h3>

@if (auctionTimeSeries == null || watchList == null)
{
    <p><em>Loading...</em></p> }
else
{
    <p>@watchList.Name</p>
    <p>@watchList.Description</p>

   @* var entry = auctionTimeSeries.First();
    <MudChart ChartType="ChartType.Line" ChartSeries="@auctionTimeSeriesChartSeries[entry.Key]" XAxisLabels="@auctionTimeSeriesXAxisLabel[entry.Key]" Width="100%" Height="350px"></MudChart>*@

    @foreach (var entry in auctionTimeSeries)
    {
        <p>@wowItems[entry.Key].Name</p>
        <MudChart ChartType="ChartType.Line" ChartSeries="@auctionTimeSeriesChartSeries[entry.Key]" XAxisLabels="@auctionTimeSeriesXAxisLabel[entry.Key]" Width="100%" Height="350px"></MudChart>
    }}